@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment HostEnvironment

@inherits LayoutComponentBase
<p>Environment: @HostEnvironment.Environment</p>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            developed by<a href="https://www.linkedin.com/in/serkankose/" target="_blank">Serkan</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
