<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Formulas</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="banking">
                <span class="oi oi-plus" aria-hidden="true"></span> Banking
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="corporate">
                <span class="oi oi-plus" aria-hidden="true"></span> Corporate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financial">
                <span class="oi oi-plus" aria-hidden="true"></span> Financial
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="financialmarkets">
                <span class="oi oi-plus" aria-hidden="true"></span> Financial Markets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="generalfinance">
                <span class="oi oi-plus" aria-hidden="true"></span> General Finance
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stocksandbonds">
                <span class="oi oi-plus" aria-hidden="true"></span> Stocks and Bonds
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
