@page "/"


<PageTitle>formulas</PageTitle>

<article>
    <h4>the formulas</h4>
    <p>This is UI around the financial formulas available in the .net library 'Financial-Formulas-Library-.NET-Standard'.</p>
    <p>The original source code is at: <a href="https://github.com/srbrettle/Financial-Formulas-Library-.NET-Standard">https://github.com/srbrettle/Financial-Formulas-Library-.NET-Standard</a></p>
    <p><b>No guarantess for the calculations</b> I didn't test all the formulas and possibly there are bugs.</p>
    <p>The formulas in the library are loaded with <b>reflection</b> and executed with the given parameters. </p>

    <h4>the UI</h4>
    <p>
        It's written in .Net Blazor WebAssembly in an afternoon so it's quite basic, it just works. Also there are some End2End test coverage with <a href="https://playwright.dev/">Playwright</a>.
        
    </p>
    <p>There are lots of room for improvement, such as:</p>
    <ul>
        <li>Better, more realistic sample parameters</li>
        <li>Range of values with realistic boundaries</li>
        <li>Using sliders for parameter values with sensible ranges like (0, 1], [0, 100], [0, 365] etc</li>
        <li>Charting with realistic random valuess</li>

    </ul>
</article>

